.shape-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .shape-container::before,
  .shape-container::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: black;
  }
  
  .shape-container::before {
    top: 0;
    left: 0;
    transform: rotate(45deg);
  }
  
  .shape-container::after {
    top: 0;
    right: 0;
    transform: rotate(-45deg);
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }

  .navbar {
    background-color: black;
  }

  .logo {
    height: 32px;
    width: 32px;
    margin-right: 16px;
  }
  
  .time-counter {
    color: white;
    font-size: 24px;
    float: right;
  }
  
  h1 {
    color: white;
    margin: 0;
  }